<div class="header bg-gradient-success pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
      <!-- Card stats -->
      <div class="row">
        <div class="col-xl-3 col-lg-6" style="width: 500px;">
          <!-- <div class="col-xl-3 col-lg-6"> -->
            <div class="card card-stats mb-4 mb-xl-0">
              <div class="card-body">
                <div class="row">
                  <div class="col">
                    <h5 class="card-title text-uppercase text-muted mb-0">System Name: Controller</h5>
                    <span class="h3 font-weight-bold mb-0">System IP: localhost</span>
                  </div>
                  <div class="col-auto">
                    <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                      <i class="fas fa-chart-bar"></i>
                    </div>
                  </div>
                </div>
                <p class="mt-3 mb-0 text-muted text-sm">
                  <a routerLink="/system/ad-lap" routerLinkActive="true"><span class="text-nowrap">System Statistics</span></a>
                </p>
              </div>
            </div>
          </div>
        
        <div class="col-xl-3 col-lg-6" *ngFor="let host of hosts" style="width: 500px;">
          <div class="card card-stats mb-4 mb-xl-0">
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <h5 class="card-title text-uppercase text-muted mb-0">System Name: {{ host.name }}</h5>
                  <span class="h3 font-weight-bold mb-0">System IP: {{ host.ip}}</span>
                </div>
                <div class="col-auto">
                  <div class="icon icon-shape bg-danger text-white rounded-circle shadow">
                    <i class="fas fa-chart-bar"></i>
                  </div>
                </div>
              </div>
              <p class="mt-3 mb-0 text-muted text-sm">
                <a routerLink= "/system/{{ host.name }}" routerLinkActive="active"><span class="text-nowrap">System Statistics</span></a>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--7" *ngIf="!hosts_data_empty">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Analyse Applications</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th style="font-size: medium;" scope="col">System ID</th>
                <th style="font-size: medium;" scope="col">System Name</th>
                <th style="font-size: medium;" scope="col">IP Address</th>
                <th style="font-size: medium;" scope="col">POSTGRES</th>
                <th style="font-size: medium;" scope="col">APACHE</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let host of hosts_data">
                <td> {{ host.node_id }}</td>
                <th scope="row">
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ host.name }}</span>
                    </div>
                  </div>
                </th>
                <td>
                  {{ host.ip }}
                </td>
                <td>
                  <div *ngIf="host.postgres">
                    <span class="badge badge-dot mr-4">
                      <i class="bg-success"></i>
                      <a routerLink="/postgres/{{ host.name }}"  routerLinkActive="active">
                        <span class="status" style="color: rgb(68, 68, 68);">Online</span>
                      </a>
                    </span>
                  </div>
                  <div *ngIf="!host.postgres">
                    <span class="badge badge-dot mr-4">
                      <i class="bg-danger"></i>
                      <span class="status">Offline</span>
                    </span>
                  </div>
                </td>
                <td>
                  <div *ngIf="host.apache">
                    <span class="badge badge-dot mr-4">
                      <i class="bg-success"></i>
                      <a routerLink="/apache/{{ host.name }}" routerLinkActive="active">
                        <span class="status" style="color: rgb(68, 68, 68);">Online</span>
                      </a>
                    </span>
                  </div>
                  <div *ngIf="!host.apache">
                    <span class="badge badge-dot mr-4">
                      <i class="bg-danger"></i>
                      <span class="status">Offline</span>
                    </span>
                  </div>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
