<div class="header bg-gradient-orange pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="row">
      <div class="col-xl-3 col-lg-6">
        
      </div>
    </div>
  </div>
</div>

<div class="container-fluid mt--7">
  <div class="row">
    <div class="col-xl-8 mb-5 mb-xl-0">
      <div class="card shadow">
        <div class="card-header bg-transparent">
          <h3>PostgreSQL Server For Host: {{ host_name }}</h3>
          <p>The measurements of the blocks read/write were taken for the last 5 minutes, and were plotted against
            time:
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

