<div class="header bg-gradient-danger pb-8 pt-5 pt-md-8">
  <div class="container-fluid">
    <div class="header-body">
    </div>
  </div>
</div>
<!-- Page content -->
<div class="container-fluid mt--7">
  <div class="row">
    <div class="col">
      <div class="card shadow">
        <div class="card-header border-0">
          <h3 class="mb-0">Hosts Available</h3>
        </div>
        <div class="table-responsive">
          <table class="table align-items-center table-flush">
            <thead class="thead-light">
              <tr>
                <th style="font-size: medium;" scope="col">System ID</th>
                <th style="font-size: medium;" scope="col">System Name</th>
                <th style="font-size: medium;" scope="col">IP Address</th>
                <th style="font-size: medium;"scope="col">Selection</th>
                <th style="font-size: medium;" scope="col">Status</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let host of hosts">
                <td>
                  {{ host.node_id }}
                </td>
                <th scope="row" >
                  <div class="media align-items-center">
                    <div class="media-body">
                      <span class="mb-0 text-sm">{{ host.name }}</span>
                    </div>
                  </div>
                </th>
                <td>
                  {{ host.ip }}
                </td>
                <td class="text-center">
                  <input type="checkbox" class="form-control" style="width: 20px; height: 20px; padding-left:10px;" [(ngModel)]="host.selected"/>
                </td>
                <td>
                    <span *ngIf="host.selected" >Selected</span>
                    <span *ngIf="!host.selected" >Not Selected</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="card-footer py-4">
          <div class="btn-wrapper text-center">
            <a (click)="selectHosts()" class="btn btn-neutral btn-icon">
              <span class="btn-inner--icon"><i class="fas fa-curved-next"></i></span>
              <span class="btn-inner--text">Proceed With The Selection</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
