<div class="header pb-8 pt-5 pt-lg-8 d-flex align-items-center" style="min-height: 600px; background-image: url(assets/img/about.jpg); background-size: cover; background-position: center top;">
  <!-- Mask -->
  <span class="mask bg-gradient-danger opacity-8"></span>
  <!-- Header container -->
  <div class="container-fluid d-flex align-items-center">
    <div class="row">
      <div class="col-lg-7 col-md-10">
        <h1 class="display-2 text-white">Hello {{ currentUser.username }}!</h1>
        <p class="text-white mt-0 mb-5"> MonApp is a web application monitor. It monitors multiple systems and their system statistics and some processes like POSTGRESQL, APACHE, etc. This project is developed
          using Angular, NodeJS, InfluxDB and Postgres, and is developed as a part of DBIS Project (CS387) by Adarsh Raj, Gudipaty Aniket, Paarth Jain and Sambit Behera.</p>
      </div>
    </div>
  </div>
</div>

