<footer class="footer">
  <div class="row align-items-center justify-content-xl-between">
    <div class="col-xl-6">
      <div class="copyright text-center text-xl-left text-muted">
        {{ test | date: "yyyy" }}, <a href="www.cse.iitb.ac.in/~adarshraj/" class="font-weight-bold ml-1" target="_blank">Adarsh Raj</a>, <a href="www.cse.iitb.ac.in/~adarshraj/" class="font-weight-bold ml-1" target="_blank">Gudipaty Aniket</a>, <a href="www.cse.iitb.ac.in/~sambitbehera/" class="font-weight-bold ml-1" target="_blank">Sambit Behera</a>, <a href="www.cse.iitb.ac.in/~paarthjain/" class="font-weight-bold ml-1" target="_blank">Paarth Jain</a>
      </div>
    </div>
  </div>
</footer>